body{
    font-family: Secrcode;
    background-color: aliceblue;
}
.letter{
    font-size: larger;
    border: 1px solid rgb(0, 0, 0);
    border-radius:5px;
    background-color: #01F9C6;
    display: inline-block;
    padding: 10px;
    margin: 10px;
    box-shadow: 2px 2px;
}
#letterContainer{
    display: inline-block;
}
#whole{
    background-image: linear-gradient(to right, #01F9C6 , rgb(236, 238, 238));    border-radius: 16px;
    box-shadow: 10px 10px 5px lightblue;
    max-width: 640px;
    margin: 40px auto;
    padding: 20px;
    position: relative;
    overflow: hidden;
    animation: fadeIn 0.5s ease-out;
    text-align: center;

}
#restart{
    display:block;
}

@font-face {
    font-family: 'Secrcode'; /*a name to be used later*/
    src: url('./neuropol\ x\ rg.otf'); /*URL to font*/
}